teste.py
teste_grief.cc
build/
.vscode/
# GRIEF-datasets/*
# GRIEF-datasets/ 
lib/*
0.bmp
1.bmp
Makefile
results/
results_8ab/
download_exp_data.sh
experiments/
local_tests/
local_backups/
indvs/
best_indvs/