teste.py
teste_grief.cc
build/
.vscode/
# GRIEF-datasets/
# GRIEF-datasets/ 
lib/*
0.bmp
1.bmp
Makefile
results_8ab/
grief_history/*
local_tests/*
results/*
local_backups/*
download_exp_data.sh
experiments/*